<div class="page-wrapper">
  <div class="content container-fluid">
    <div class="page-header">
      <div class="row">
        <div class="col-sm-7 col-auto">
          <h3 class="page-title"></h3>
          <ul class="breadcrumb"></ul>
        </div>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-md-6 col-lg-6 col-xl-6">
        <div class="card">
          <h3 class="page-title text-center">{{ title }}</h3>
          <div class="card-body">
            <form>
              <div class="row form-row">
                <div class="col-12">
                  <div class="form-group">
                    <label>Classe <span class="text-danger">*</span></label>
                    <select
                      class="form-control select"
                      name="classe"
                      [(ngModel)]="selectedClass"
                      (change)="onClasseSelected()"
                      required=""
                    >
                      <option>Selectionnez</option>
                      <option *ngFor="let item of classeList" [value]="item.id">
                        {{ item?.libelle }}
                      </option>
                    </select>
                  </div>
                </div>
              </div>

              <div class="row form-row">
                <div class="col-12">
                  <div class="form-group">
                    <label>Elève <span class="text-danger">*</span></label>
                    <select
                      class="form-control select"
                      name="eleve"
                      [(ngModel)]="selectedEleve"
                      (change)="onEleveSelected()"
                      required=""
                    >
                      <option>Selectionnez</option>
                      <option
                        *ngFor="let item of eleveList"
                        [value]="item.eleve"
                      >
                        {{ item?.prenomEleve }} - {{ item?.nomEleve }}
                      </option>
                    </select>
                  </div>
                </div>
              </div>

              <div class="row form-row">
                <div class="col-6">
                  <div class="form-group">
                    <label>Semestre <span class="text-danger">*</span></label>
                    <select
                      class="form-control select"
                      name="mois"
                      required=""
                      [(ngModel)]="selectedSemestre"
                      (change)="onSemestreSelected()"
                    >
                      <option>Selectionnez</option>
                      <option
                        *ngFor="let item of semestreList"
                        [value]="item?.id"
                      >
                        {{ item?.libelle }}
                      </option>
                    </select>
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group">
                    <label
                      >Années scolaire <span class="text-danger">*</span></label
                    >
                    <select
                      class="form-control select"
                      name="annee"
                      required=""
                      [(ngModel)]="selectedAnneeScolaire"
                      (change)="onAnneeScolaireSelected()"
                    >
                      <option>Selectionnez</option>
                      <option
                        *ngFor="let item of anneeScolaireList"
                        [value]="item.id"
                      >
                        {{ item?.libelle }}
                      </option>
                    </select>
                  </div>
                </div>
              </div>

              <div class="row mt-3">
                <div class="col-12 d-flex justify-content-between">
                  <button
                    type="button"
                    class="btn btn-danger si_accept_cancel"
                    (click)="goBack()"
                  >
                    Annuler
                  </button>
                  <button
                    type="button"
                    class="upload-text text-white"
                    style="
                      align-items: center;
                      border: 1px solid #028ee1;
                      box-shadow: 0 1px 2px rgba(16, 24, 40, 0.05);
                      background-color: #028ee1;
                      min-height: 44px;
                      padding: 10px 16px;
                      cursor: pointer;
                    "
                    (click)="genererBulletinPourUnEleve()"
                  >
                    Enregistrer
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
