<app-generic-table-dossier
  title="Liste des note d'informations"
  titleFitre="Noteinformation"
  [tableColumns]="columns"
  [tableData]="noteInformationData"
  [isLoading]="isLoading"
  [isLockableIcon]="isLockable"
  [isPrnterIcon]="isPrinter"
  [isEditIcon]="isEdit"
  [tableSizes]="tableSizes"
  [totalElements]="totalElements"
  [currentPage]="currentPage"
  [pageSize]="pageSize"
  (pageChange)="changePage($event)"
  addButtonLink="/admin/planification/noteinformation/create"
  modifierButtonLink="/admin/planification/noteinformation/edit"
  [deleteEndPoint]="deleteEndpoint"
  [showSearch]="false"
  [filtered]="tableFilters"
  (filterChange)="onFilterChange($event.filter, $event.value)"
  [showFilters]="true"
  (resetFilters)="resetFilters()"
  (sizeChange)="changeSize($event)"
>
</app-generic-table-dossier>
