<div class="page-wrapper">
  <div class="content container-fluid">
    <div class="page-header">
      <div class="row">
        <div class="col-sm-7 col-auto">
          <h3 class="page-title">Emploi du temps</h3>
          <ul class="breadcrumb">
            <li class="breadcrumb-item">
              <a [routerLink]="'/admin/'">Tableau de bord</a>
            </li>
            <li class="breadcrumb-item active">{{ title }}</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-body">
            <form>
              <div class="row form-row">
                <div class="col-lg-4 col-sm-4">
                  <div class="form-group">
                    <label>Classe</label>
                    <input
                      type="text"
                      class="form-control"
                      value=" {{ emploie?.libelleClasse }}"
                      readonly
                    />
                  </div>
                </div>
                <div class="col-lg-4 col-sm-4">
                  <div class="form-group">
                    <label>Semestre</label>
                    <input
                      type="text"
                      class="form-control"
                      value=" {{ emploie?.libelleSemestre }}"
                      readonly
                    />
                  </div>
                </div>
                <div class="col-lg-4 col-sm-4">
                  <div class="form-group">
                    <label>Semaine</label>
                    <input
                      type="text"
                      class="form-control"
                      value=" {{ emploie?.libelleSemaine }}"
                      readonly
                    />
                  </div>
                </div>
              </div>

              <hr />
              <h3 class="text-center">Liste des cours</h3>
              <hr />

              <div *ngFor="let cours of coursesList">
                <div>
                  <div class="row form-row">
                    <div class="col-lg-4 col-sm-4">
                      <div class="form-group">
                        <label>Libelle </label>
                        <input
                          type="text"
                          class="form-control"
                          value=" {{ cours?.libelle }}"
                          readonly
                        />
                      </div>
                    </div>
                    <div class="col-lg-4 col-sm-4">
                      <div class="form-group">
                        <label>Matière</label>
                        <input
                          type="text"
                          class="form-control"
                          value=" {{ cours?.matiere }}"
                          readonly
                        />
                      </div>
                    </div>
                    <div class="col-lg-4 col-sm-4">
                      <div class="form-group">
                        <label>Enseignant </label>
                        <input
                          type="text"
                          class="form-control"
                          value=" {{ cours?.enseignant }}"
                          readonly
                        />
                      </div>
                    </div>
                  </div>

                  <div class="row form-row">
                    <div class="col-lg-3 col-sm-3">
                      <div class="form-group">
                        <label>Salle <span class="text-danger">*</span></label>

                        <input
                          type="text"
                          class="form-control"
                          value=" {{ cours?.salle }}"
                          readonly
                        />
                      </div>
                    </div>
                    <div class="col-lg-3 col-sm-3">
                      <div class="form-group">
                        <label>Date <span class="text-danger">*</span></label>
                        <input
                          type="text"
                          class="form-control"
                          value=" {{ cours?.dateDebut }}"
                          readonly
                        />
                      </div>
                    </div>

                    <div class="col-lg-3 col-sm-3">
                      <div class="form-group">
                        <label>Heure début </label>
                        <input
                          type="text"
                          class="form-control"
                          value=" {{ cours?.heureDebut }}"
                          readonly
                        />
                      </div>
                    </div>
                    <div class="col-lg-3 col-sm-3">
                      <div class="form-group">
                        <label>Heure fin </label>

                        <input
                          type="text"
                          class="form-control"
                          value=" {{ cours?.heureFin }}"
                          readonly
                        />
                      </div>
                    </div>
                  </div>

                  <div class="row form-row"></div>
                </div>
              </div>

              <div style="margin-top: 25px col-sm-12">
                <button
                  type="button"
                  class="btn btn-primary float-lg-right"
                  id="btn-yes"
                  style="
                    align-items: center;
                    border: 1px solid #028ee1;
                    box-shadow: 0 1px 2px rgba(16, 24, 40, 0.05);
                    background-color: #028ee1;
                    min-height: 44px;
                    padding: 10px 16px;
                    cursor: pointer;
                  "
                >
                  <i class="fa fa-print"></i>
                  Imprimer
                </button>
                <button
                  type="button"
                  class="btn btn-danger si_accept_cancel float-left"
                  (click)="goBack()"
                >
                  Retour
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
