# ============================================
# ANGULAR ENVIRONMENTS (MODÈLE)
# ============================================
NODE_ENV=production

# DAUPHIN
DAUPHIN_API_URL=http://localhost:8093/myschool/api

# LYCEE
LYCEE_API_URL=http://localhost:8093/myschool/api

# COLLEGE
COLLEGE_API_URL=http://localhost:8093/myschool/api