<div class="page-wrapper">

    <div class="content container-fluid">
        <div class="page-header">
            <div class="row">
                <div class="col-sm-7 col-auto">
                    <h3 class="page-title">Mes congés</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="'/admin/'">Tableau de bord</a></li>
                        <li class="breadcrumb-item active">Liste congés</li>
                    </ul>
                </div>
                <div class="col-sm-5 col">
                    <a  class="btn btn-primary float-right mt-2" data-toggle="modal">
                        <i class="fa fa-plus-circle"></i>
                         planifier un congés
                    </a>
                </div>
            </div>
        </div>
        <!-- /Page Header -->
        <div *ngIf="sizeNull===0" class="text-center bg-danger-light">
            <h3>Pas d'enregistrement</h3>
        </div>
        <div class="row" *ngIf="sizeNull!>0">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="datatable table table-hover table-center mb-0">
                                <thead>
                                    <tr>
                                        <th>#</th>
										<th>Objet</th>
										<th>Motif</th>
                                        <th>Etat</th>
                                        <th>Date début</th>
                                        <th>Date fin</th>
                                        <th class="text-right">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let conge of congesList">
                                      
                                        <td>{{conge.id}}</td>
										<td>{{conge.objet}}</td>
										<td>{{conge.motif}}</td>
                                        <td>{{conge.etat}}</td>
                                        <td>{{conge.dateDebut | date: 'dd-MM-YYYY'}}</td>
                                        <td>{{conge.dateFin | date: 'dd-MM-YYYY'}}</td>
                                        <td class="text-right">
                                            <div class="actions" *ngIf="conge.etat==='ENCOURS'">
                                                <a class="btn btn-sm bg-success-light" data-toggle="modal">
                                                    <i class="fe fe-pencil"></i> Edit
                                                </a>
                                                <a class="btn btn-sm bg-primary-light" data-toggle="modal">
                                                    <i class="fe fe-activity"></i> Envoyer
                                                </a>
                                                <a data-toggle="modal"
                                                    class="btn btn-sm bg-danger-light">
                                                    <i class="fe fe-trash"></i> Delete
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                  
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
