<div class="step-container">
  <div class="step-header">
    <h2>
      <i class="fas fa-check-circle"></i>
      Vérification de votre inscription
    </h2>

    <p>Vérifiez les informations ci-dessous avant de créer votre espace.</p>
  </div>

  <div class="summary-grid">
    <section
      class="summary-card"
      [class.open]="isOpened('application')"
      (click)="toggle('application')"
    >
      <div class="summary-header">
        <div class="summary-left">
          <div class="icon">
            <i class="fas fa-cubes"></i>
          </div>

          <div>
            <h3>Application</h3>
            <p>Solution sélectionnée</p>
          </div>
        </div>

        <i class="fas fa-chevron-down arrow" [class.rotate]="isOpened('application')"> </i>
      </div>

      @if (isOpened('application')) {
        <div class="summary-details">
          <div class="detail-row">
            <span>Application</span>
            <strong>
              {{ request().onboardingStartRequest?.applicationCode }}
            </strong>
          </div>

          <div class="detail-row">
            <span>Mode</span>
            <strong>
              {{ request().onboardingStartRequest?.onboardingMode }}
            </strong>
          </div>
        </div>
      }
    </section>

    <section class="summary-card" [class.open]="isOpened('tenant')" (click)="toggle('tenant')">
      <div class="summary-header">
        <div class="summary-left">
          <div class="icon">
            <i class="fas fa-building"></i>
          </div>

          <div>
            <h3>Espace SaaS</h3>

            <p>{{ request().onboardingTenantRequest?.libelle }}</p>
          </div>
        </div>

        <i class="fas fa-chevron-down arrow" [class.rotate]="isOpened('tenant')"> </i>
      </div>

      @if (isOpened('tenant')) {
        <div class="summary-details">
          <div class="detail-row">
            <span>Libellé</span>
            <strong>{{ request().onboardingTenantRequest?.libelle }}</strong>
          </div>

          <div class="detail-row">
            <span>Code</span>
            <strong>{{ request().onboardingTenantRequest?.code }}</strong>
          </div>

          <div class="detail-row">
            <span>Domaine</span>
            <strong>{{ request().onboardingTenantRequest?.domaine }}</strong>
          </div>

          <div class="detail-row">
            <span>Email</span>
            <strong>{{ request().onboardingTenantRequest?.currencyUuid }}</strong>
          </div>

          <div class="detail-row">
            <span>Téléphone</span>
            <strong>{{ request().onboardingTenantRequest?.tenantTypeUuid }}</strong>
          </div>
        </div>
      }
    </section>

    <section
      class="summary-card"
      [class.open]="isOpened('organization')"
      (click)="toggle('organization')"
    >
      <div class="summary-header">
        <div class="summary-left">
          <div class="icon">
            <i class="fas fa-sitemap"></i>
          </div>

          <div>
            <h3>Organisation</h3>

            <p>{{ request().onboardingOrganizationRequest?.libelle }}</p>
          </div>
        </div>

        <i class="fas fa-chevron-down arrow" [class.rotate]="isOpened('organization')"> </i>
      </div>

      @if (isOpened('organization')) {
        <div class="summary-details">
          <div class="detail-row">
            <span>Libellé</span>
            {{ request().onboardingOrganizationRequest?.libelle }}
          </div>

          <div class="detail-row">
            <span>Code</span>
            {{ request().onboardingOrganizationRequest?.code }}
          </div>

          <div class="detail-row">
            <span>Email</span>
            <strong>
              {{ request().onboardingOrganizationRequest?.email }}
            </strong>
          </div>

          <div class="detail-row">
            <span>Téléphone</span>
            <strong>
              {{ request().onboardingOrganizationRequest?.telephone }}
            </strong>
          </div>

          <div class="detail-row">
            <span>Description</span>
            {{ request().onboardingOrganizationRequest?.description }}
          </div>
        </div>
      }
    </section>

    <section class="summary-card" [class.open]="isOpened('user')" (click)="toggle('user')">
      <div class="summary-header">
        <div class="summary-left">
          <div class="icon">
            <i class="fas fa-user-shield"></i>
          </div>

          <div>
            <h3>Administrateur</h3>

            <p>Compte de l'administrateur</p>
          </div>
        </div>

        <i class="fas fa-chevron-down arrow" [class.rotate]="isOpened('user')"> </i>
      </div>

      @if (isOpened('user')) {
        <div class="summary-details">
          <div class="detail-row">
            <span>Prénom</span>
            <strong>{{ request().onboardingUserRequest?.firstName }}</strong>
          </div>

          <div class="detail-row">
            <span>Nom</span>
            <strong>{{ request().onboardingUserRequest?.lastName }}</strong>
          </div>

          <div class="detail-row">
            <span>Email</span>
            <strong>{{ request().onboardingUserRequest?.email }}</strong>
          </div>

          <div class="detail-row">
            <span>Téléphone</span>
            <strong>{{ request().onboardingUserRequest?.mobile }}</strong>
          </div>
        </div>
      }
    </section>

    <section
      class="summary-card"
      [class.open]="isOpened('subscription')"
      (click)="toggle('subscription')"
    >
      <div class="summary-header">
        <div class="summary-left">
          <div class="icon">
            <i class="fas fa-credit-card"></i>
          </div>

          <div>
            <h3>Abonnement</h3>

            <p> {{ viewModel().subscriptionDisplay?.planName }}</p>
          </div>
        </div>

        <i class="fas fa-chevron-down arrow" [class.rotate]="isOpened('subscription')"> </i>
      </div>

      @if (isOpened('subscription')) {
        <div class="summary-details">
          <div class="detail-row">
            <span>Plan</span>

            <strong>
             {{ viewModel().subscriptionDisplay?.planName }}
            </strong>
          </div>

          <div class="detail-row">
             <span>Période</span>

            <strong>
                  {{ viewModel().subscriptionDisplay?.billingPeriodLabel }}
            </strong>
          </div>

          <div class="detail-row">
           <span>Montant HT</span>

            <strong>
              {{ viewModel().subscriptionDisplay?.amount }}
            </strong>
          </div>
        </div>
      }
    </section>
    
    <section class="summary-card" [class.open]="isOpened('billing')" (click)="toggle('billing')">
      <div class="summary-header">
        <div class="summary-left">
          <div class="icon">
            <i class="fas fa-file-invoice"></i>
          </div>

          <div>
            <h3>Facturation</h3>

            <p>Informations de paiement</p>
          </div>
        </div>

        <i class="fas fa-chevron-down arrow" [class.rotate]="isOpened('billing')"> </i>
      </div>

      @if (isOpened('billing')) {
        <div class="summary-details">
          <div class="detail-row">
            <span>Renouvellement automatique</span>

            <strong>
              {{
                request().onboardingSubscriptionRequest?.renouvellementAutomatique ? 'Oui' : 'Non'
              }}
            </strong>
          </div>

          <div class="detail-row">
            <span>Commentaire</span>

            <strong>
              {{ request().onboardingInvoiceRequest?.commentaire || 'Aucun commentaire' }}
            </strong>
          </div>
        </div>
      }
    </section>

  
  </div>

  <div class="alert-help">
    <i class="fas fa-info-circle"></i>

    <span>
      Après validation, votre espace sera créé automatiquement. Vous pourrez ensuite accéder à votre
      tableau de bord.
    </span>
  </div>
</div>
