<div class="step-container">


  <div class="step-header">

    <h2>
      Définir le membre de l'organisation
    </h2>


    <p>
      Précisez la fonction occupée par l'administrateur
      dans votre organisation.
    </p>


  </div>



  <form [formGroup]="form">


    <section class="form-section">


      <h3>
        Fonction dans l'organisation
      </h3>


      <p class="section-help">
        Cette information sera utilisée pour identifier
        le responsable principal de l'espace.
      </p>



      <div class="field">


        <label>
          Fonction
          <span class="required">*</span>
        </label>


        <input
          type="text"
          formControlName="fonction"
          placeholder="Ex : Directeur, Administrateur, Responsable..."
        />



        @if (
          form.controls.fonction.touched &&
          form.controls.fonction.invalid
        ) {

          <small>
            La fonction est obligatoire.
          </small>

        }


      </div>


    </section>



    <div class="alert-help">

      <i class="fas fa-info-circle me-2"></i>

      <span>
        Cette information permet de préciser la responsabilité
        du membre au sein de votre organisation.
      </span>


    </div>



  </form>


</div>