<app-generic-table-referentiel
  title="Liste des parents d'élèves"
  titleFitre="Parent"
  [tableColumns]="columns"
  [tableData]="parentData"
  [tableSizes]="tableSizes"
  [totalElements]="totalElements"
  [currentPage]="currentPage"
  [pageSize]="pageSize"
  [isLoading]="isLoading"
  [isEditIcon]="isEdit"
  [isNoAjout]="true"
  [isLockableIcon]="isLockable"
  (pageChange)="changePage($event)"
  modifierButtonLink="/admin/dossier-eleve/parent/edit"
  [deleteEndPoint]="deleteEndpoint"
  [showSearch]="false"
  [filtered]="tableFilters"
  (filterChange)="onFilterChange($event.filter, $event.value)"
  [showFilters]="true"
  (resetFilters)="resetFilters()"
  (sizeChange)="changeSize($event)"
>
</app-generic-table-referentiel>
