<app-generic-table-dossier
  title="Liste des inscriptions des élèves"
  titleFitre="Inscription"
  [tableColumns]="columns"
  [tableData]="inscriptionData"
  [isLoading]="isLoading"
  [isEditIcon]="true"
  [isEyesIcon]="true"
  [isLockableIcon]="isLockable"
  [tableSizes]="tableSizes"
  [totalElements]="totalElements"
  [currentPage]="currentPage"
  [pageSize]="pageSize"
  (pageChange)="changePage($event)"
  [deleteEndPoint]="deleteEndpoint"
  [showSearch]="false"
  addButtonLink="/admin/dossier-eleve/inscription"
  modifierButtonLink="/admin/dossier-eleve/inscription/edit"
  detailButtonLink="/admin/dossier-eleve/inscription/details"
  [filtered]="tableFilters"
  (filterChange)="onFilterChange($event.filter, $event.value)"
  [showFilters]="true"
  (resetFilters)="resetFilters()"
  (sizeChange)="changeSize($event)"
>
</app-generic-table-dossier>
