<app-generic-table-dossier
  title="Liste des factures"
  titleFitre="Facture"
  [tableColumns]="columns"
  [tableData]="factureData"
  [isLoading]="isLoading"
  [isEyesIcon]="true"
  [isLockableIcon]="isLockable"
  [tableSizes]="tableSizes"
  [totalElements]="totalElements"
  [currentPage]="currentPage"
  [pageSize]="pageSize"
  (pageChange)="changePage($event)"
  addButtonLink="/admin/comptabilite/facture/generer"
  modifierButtonLink="/admin/comptabilite/facture/edit"
  [deleteEndPoint]="deleteEndpoint"
  [showSearch]="false"
  [filtered]="tableFilters"
  (filterChange)="onFilterChange($event.filter, $event.value)"
  [showFilters]="true"
  (resetFilters)="resetFilters()"
  (sizeChange)="changeSize($event)"
  detailButtonLink="/admin/comptabilite/facture/details"
>
</app-generic-table-dossier>
