<app-generic-table-referentiel
  title="Liste des écoles partenaires"
  titleFitre="ecole"
  [tableColumns]="columns"
  [tableData]="utilisateurData"
  [tableSizes]="tableSizes"
  [totalElements]="totalElements"
  [currentPage]="currentPage"
  [pageSize]="pageSize"
  [isLoading]="isLoading"
  [isEditIcon]="isEdit"
  [isEyesIcon]="true"
  [isLockableIcon]="isLockable"
  (pageChange)="changePage($event)"
  addButtonLink="/admin/utilisateur/ecole/create"
  modifierButtonLink="/admin/utilisateur/ecole/edit"
  detailButtonLink="/admin/utilisateur/ecole/detail"
  [deleteEndPoint]="deleteEndpoint"
  [showSearch]="false"
  [filtered]="tableFilters"
  (filterChange)="onFilterChange($event.filter, $event.value)"
  [showFilters]="true"
  (resetFilters)="resetFilters()"
  (sizeChange)="changeSize($event)"
>
</app-generic-table-referentiel>
