<app-generic-table-dossier
  title="Liste des élèves"
  titleFitre="Eleve"
  [tableColumns]="columns"
  [tableData]="eleveData"
  [isLoading]="isLoading"
  [isEditIcon]="isEdit"
  [isEyesIcon]="true"
  [isLockableIcon]="isLockable"
  [tableSizes]="tableSizes"
  [totalElements]="totalElements"
  [currentPage]="currentPage"
  [pageSize]="pageSize"
  (pageChange)="changePage($event)"
  addButtonLink="/admin/dossier-eleve/inscrire-eleve"
  modifierButtonLink="/admin/dossier-eleve/eleve/edit"
    detailButtonLink="/admin/dossier-eleve/eleve/details"
  [deleteEndPoint]="deleteEndpoint"
  [showSearch]="false"
  [filtered]="tableFilters"
  (filterChange)="onFilterChange($event.filter, $event.value)"
  [showFilters]="true"
  (resetFilters)="resetFilters()"
  (sizeChange)="changeSize($event)"
  detailButtonLink="/admin/dossier-eleve/eleve/details"
>
</app-generic-table-dossier>
