<app-generic-table-dossier
  title="Liste des exercices de la semaine"
  titleFitre="Exercice"
  [tableColumns]="columns"
  [tableData]="exerciceData"
  [isLoading]="isLoading"
  [tableSizes]="tableSizes"
  [totalElements]="totalElements"
  [currentPage]="currentPage"
  [isNoAjout]="true"
  [pageSize]="pageSize"
  (pageChange)="changePage($event)"
  [deleteEndPoint]="deleteEndpoint"
  [showSearch]="false"
  [filtered]="tableFilters"
  (filterChange)="onFilterChange($event.filter, $event.value)"
  [showFilters]="true"
  (resetFilters)="resetFilters()"
  (sizeChange)="changeSize($event)"
>
</app-generic-table-dossier>
