<app-generic-table-referentiel
  title="Liste des agents administratifs"
  titleFitre="Utilisateur"
  [tableColumns]="columns"
  [tableData]="utilisateurData"
  [tableSizes]="tableSizes"
  [totalElements]="totalElements"
  [currentPage]="currentPage"
  [pageSize]="pageSize"
  [isLoading]="isLoading"
  [isEditIcon]="isEdit"
  [isLockableIcon]="isLockable"
  (pageChange)="changePage($any($event))"
  addButtonLink="/admin/utilisateur/create"
  modifierButtonLink="/admin/utilisateur/edit"
  [deleteEndPoint]="deleteEndpoint"
  [showSearch]="false"
  [filtered]="tableFilters"
  (filterChange)="onFilterChange($event.filter, $event.value)"
  [showFilters]="true"
  (resetFilters)="resetFilters()"
  (sizeChange)="changeSize($any($event))"
>
</app-generic-table-referentiel>
