<app-generic-table-dossier
  title="Liste des livres"
  titleFitre="Livre"
  [tableColumns]="columns"
  [tableData]="livreData"
  [isLoading]="isLoading"
  [isEditIcon]="true"
  [isLockableIcon]="isLockable"
  [tableSizes]="tableSizes"
  [totalElements]="totalElements"
  [currentPage]="currentPage"
  [pageSize]="pageSize"
  (pageChange)="changePage($event)"
  addButtonLink="/admin/planification/livre/create"
  modifierButtonLink="/admin/planification/livre/edit"
  [deleteEndPoint]="deleteEndpoint"
  [showSearch]="false"
  [filtered]="tableFilters"
  (filterChange)="onFilterChange($event.filter, $event.value)"
  [showFilters]="true"
  (resetFilters)="resetFilters()"
  (sizeChange)="changeSize($event)"
>
</app-generic-table-dossier>
