<app-generic-table-referentiel
  title="Liste des menu "
  titleFitre="Menu"
  [tableColumns]="columns"
  [tableData]="menuData"
  [tableSizes]="tableSizes"
  [totalElements]="totalElements"
  [currentPage]="currentPage"
  [pageSize]="pageSize"
  [isLoading]="isLoading"
  [isEditIcon]="isEdit"
  [isLockableIcon]="isLockable"
  (pageChange)="changePage($event)"
  addButtonLink="/admin/referentiels/category-menu/create"
  modifierButtonLink="/admin/referentiels/category-menu/edit"
  [deleteEndPoint]="deleteEndpoint"
  [showSearch]="false"
  [filtered]="tableFilters"
  (filterChange)="onFilterChange($event.filter, $event.value)"
  [showFilters]="true"
  (resetFilters)="resetFilters()"
  (sizeChange)="changeSize($event)"
>
</app-generic-table-referentiel>
