<app-generic-table-dossier
  title="Liste des bulletins de l'élève"
  titleFitre="Exercice"
  [tableColumns]="columns"
  [tableData]="bulletinData"
  [isLoading]="isLoading"
  [isEyesIcon]="true"
  [tableSizes]="tableSizes"
  [totalElements]="totalElements"
  [currentPage]="currentPage"
  [isNoAjout]="true"
  [pageSize]="pageSize"
  (pageChange)="changePage($event)"
  [showSearch]="false"
  [filtered]="tableFilters"
  (filterChange)="onFilterChange($event.filter, $event.value)"
  [showFilters]="true"
  (resetFilters)="resetFilters()"
  (sizeChange)="changeSize($event)"
>
</app-generic-table-dossier>
